{% extends 'djblog/base.html' %}
{% load djblog_tags mediacontent_tags %}
{% block maincontent %}
<!-- pages {{ object_list.count }} // category {{ category }}-->
<div class="row">
    <div class="small-12 columns">
        {% for object in object_list %}
        <div class="row">
            <div class="small-12 columns">
                <a href="{{ object.get_absolute_url }}">
                    <h3>{% post_title %}</h3>
                </a>
            </div>
            <div class="small-12 columns">
                <a href="{{ object.get_absolute_url }}">
                    {% post_image %}
                </a>
            </div>
            <div class="small-12 columns">
                {% post_extract tag_link='<a href="%s">Leer más</a>' %}
            </div>
        </div>
        <hr>
        {% endfor  %}
    </div>
</div>
{% include 'djblog/includes/paginator.html' %}
{% endblock  %}
