{% load static djblog_tags %}
{% if object_list %}
<ul class="{{ banner_slider_class }}" {% not banner_slider_attribs %}data-orbit data-options="slide_number:false; bullets:false; animation:slide; navigation_arrows:true; animation_speed:250;"{% else %}{{ banner_slider_attribs }}{% endif %}>
    {% for object in object_list %}
    <li>
        {% post_link extra_content_only=True as link %}
        {% if link %}
        <a href="{{ link.url }}" {{ link.attribs }}>
            {% post_image %}
        </a>
        {% else %}
            {% post_image %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
